$dark: #242424;
$primary: #f3d54f;
$light: #efefef;
$secondary: #d8d8d8;
$info: #393939;
$danger: #f45057;
$success: #219b6c;

$body-bg: $dark;
$body-color: $primary;

$navbar-dark-color: $primary;
$navbar-dark-hover-color: $light;
$navbar-dark-active-color: $secondary;
$navbar-dark-disabled-color: $secondary;
$navbar-dark-toggler-border-color: $secondary;

$component-active-color: $dark;
$component-active-bg: $light;

$input-bg: $light !default;
$input-color: $dark;
$input-border-color: $light;

$custom-control-label-color: $light;
$custom-control-cursor: pointer;

$border-radius: 0.4rem;
$border-radius-lg: 0.45rem;
$border-radius-sm: 0.35rem;

$border-width: 2px;

$card-bg: $primary;
$card-color: $dark;
$card-border-color: $primary;

$modal-content-color: $dark;

$pagination-bg: $info;
$pagination-border-color: $pagination-bg;
$pagination-color: $light;
$pagination-active-color: $dark;
$pagination-active-bg: $primary;
$pagination-disabled-color: $pagination-color;
$pagination-disabled-bg: $pagination-bg;
$pagination-disabled-border-color: $pagination-bg;
$pagination-hover-color: $dark;
$pagination-hover-bg: $secondary;
$pagination-hover-border-color: $pagination-hover-bg;

@import '../node_modules/bootstrap/scss/bootstrap';
