<!DOCTYPE html>
<html>

<%- include('head'); %>

<body>

  <%- include('navbar', { user: user }); %>

  <div class="container my-5">
    <div class="card">
      <div class="card-body font-poppins">

        <h2>Product info</h2>
        <h6 class="mb-4 mt-1 text-muted font-open-sans">Please enter your product’s info</h6>

        <form id="createProductForm" name="createProductForm">

          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control font-open-sans" id="name" aria-describedby="nameOfProduct"
                placeholder="Product name" name="name">
              <small id="nameOfProduct" class="form-text text-muted">Keep the name descriptive.</small>
            </div>

            <div class="form-group col-md-6">
              <label for="price">Price</label>
              <div class="input-group">
                <input type="text" class="form-control font-open-sans" id="price" placeholder="Product Price"
                  name="price">
                <div class="input-group-append">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                      <input type="radio" name="currency" id="USD" autocomplete="off" value="USD" checked> $
                    </label>
                    <label class="btn btn-primary">
                      <input type="radio" name="currency" id="IQD" autocomplete="off" value="IQD"> IQD
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control font-open-sans" id="description" placeholder="Describe the product" rows="3"
              name="description"></textarea>
          </div>

          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="city">Town / City</label>
              <input type="text" class="form-control font-open-sans" id="city" placeholder="Your location" name="city">
            </div>

            <div class="form-group col-md-4">
              <label for="phonenumber">Phone number</label>
              <input type="text" class="form-control font-open-sans" id="phonenumber" placeholder="Your phone number"
                name="owner_phoneNumber">
            </div>

            <div class="form-group col-md-4">
              <label for="category">Category</label>
              <select id="category" class="form-control font-open-sans" name="category">
                <option value="" disabled selected hidden>Choose a category</option>
                <option value="clothes">clothes</option>
                <option value="furniture">furniture</option>
                <option value="computer">computer</option>
                <option value="mobile device">mobile device</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>Condition</label>
            <div class="form-check font-open-sans">
              <input class="form-check-input" type="radio" name="condition" id="new-with-tags" value="new with tags"
                checked>
              <label class="form-check-label" for="new-with-tags">
                new with tags
              </label>
            </div>
            <div class="form-check font-open-sans">
              <input class="form-check-input" type="radio" name="condition" id="like-new" value="like-new">
              <label class="form-check-label" for="like-new">
                like-new
              </label>
            </div>
            <div class="form-check font-open-sans">
              <input class="form-check-input" type="radio" name="condition" id="gently-used" value="gently-used">
              <label class="form-check-label" for="gently-used">
                gently-used
              </label>
            </div>
            <div class="form-check font-open-sans">
              <input class="form-check-input" type="radio" name="condition" id="signs-of-use" value="signs of use">
              <label class="form-check-label" for="signs-of-use">
                signs of use
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="image">Upload Image</label>
            <input type="file" class="form-control-file font-open-sans" id="image" name="image" accept="image/*">
          </div>

          <input type="hidden" name="user_id" value="<%= user.id %>" />

          <div class="d-flex">
            <button type="submit" class="btn btn-primary font-semi-bold">Post Product</button>
            <a href="/" class="btn btn-light text-dark ml-4 font-semi-bold" role="button">Cancel</a>
          </div>

        </form>

      </div>
    </div>
  </div>

  <%- include('scripts', {page: "create-product-form"}); %>

</body>

</html>