<!DOCTYPE html>
<html>

<%- include('head'); %>

<body>
  <%- include('header', { user: user }); %>

  <div class="d-flex flex-wrap container">
    <% products.forEach(function(product){ %>
    <%- include('product', {product: product}); %>
    <% }); %>
  </div>


  <%- include('scripts', {page: 'index'}); %>

</body>

</html>