<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/login-signup-form.css' />
</head>

<body>
  <h1><%= form %></h1>
  <form method="post" action=<%= action %> class='login-form' autocomplete='off'>
    <% if (form === "Sign Up") { %>
    <label for='username'>Username</label>
    <input type='text' name='username' id='username'>
    <% } %>
    <label for='email'>Email</label>
    <input type='email' name='email' id='email'>
    <label for='password'>Password</label>
    <input type='password' name='password' id='password'>
    <button type='submit'><%= form.toUpperCase() %></button>
  </form>
  <p style="margin-top: 45px;">Go back to <a href="/">Homepage</a></p>
</body>

</html>