<nav class="navbar navbar-expand-lg navbar-light pt-3 px-sm-5 px-4">
  <a class="navbar-brand font-poppins font-semi-bold font-size-2 text-dark" href="/">Online Thrift Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav font-open-sans">

      <a class="nav-item nav-link disabled text-muted" href="/"><span
          class="badge badge-light text-primary font-poppins">487</span>
        Products</a>

      <% if (typeof user === 'object') { %>

      <a class="nav-item nav-link text-dark" href="/product/">Post A Product</a>
      <a class="nav-item nav-link text-dark" href="/users/<%= user.id %> ">Your Account</a>
      <a class="nav-item nav-link text-dark" href="/logout">Log Out</a>

      <% } else if (user === 'inloginPage') { %>
      <a class="nav-item nav-link text-dark" href="/signup">Signup</a>

      <% } else if (user === 'inSignupPage') { %>
      <a class="nav-item nav-link text-dark" href="/login">Login</a>

      <% } else {%>

      <a class="nav-item nav-link text-dark" href="/signup">Signup</a>
      <a class="nav-item nav-link text-dark" href="/login">Login</a>

      <% } %>

    </div>
  </div>
</nav>