<div class="card m-4 product-card" style="width: 18rem; cursor: pointer;" id="<%= product.product_id %>">
  <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><%= product.name %></p>
    <p class="card-text"><%= product.description %></p>
  </div>
</div>