<div class="d-flex flex-column">
  <h2>Categories</h2>
  <div class="d-flex flex-column">
    <a href="/">Clothes</a>
    <a href="/">Computers</a>
    <a href="/">Furniture</a>
    <a href="/">Mobile Phones</a>
  </div>
</div>