<div class="d-flex flex-column">

  <div class="d-flex flex-column">
    <h5 class="font-poppins">Categories</h5>
    <div class="d-flex flex-column font-open-sans">
      <div class="d-flex justify-content-between mt-2">
        <a href="/" class="text-dark">Clothes</a>
        <span class="badge badge-light text-primary font-poppins">87</span>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <a href="/" class="text-dark">Computers</a>
        <span class="badge badge-light text-primary font-poppins">150</span>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <a href="/" class="text-dark">Furniture</a>
        <span class="badge badge-light text-primary font-poppins">100</span>
      </div>

      <div class="d-flex justify-content-between mt-2">
        <a href="/" class="text-dark">Mobile Phones</a>
        <span class="badge badge-light text-primary font-poppins">150</span>
      </div>

    </div>
  </div>




  <div class="d-flex flex-column mt-5">
    <h5 class="font-poppins">Condition</h5>

    <form class="d-flex flex-column font-open-sans">

      <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input" id="like-new" name="condition" value="like-new">
        <label class="custom-control-label" for="like-new">Like-new</label>
      </div>

      <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input" id="new-with-tags" name="condition" value="new with tags">
        <label class="custom-control-label" for="new-with-tags">New with tags</label>
      </div>

      <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input" id="gently-used" name="condition" value="gently-used">
        <label class="custom-control-label" for="gently-used">Gently-used</label>
      </div>

      <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input" id="signs-of-use" name="condition" value="signs of use">
        <label class="custom-control-label" for="signs-of-use">Signs of use</label>
      </div>

      <div class="d-flex mt-4 font-poppins">
        <input class="btn btn-primary" type="submit" value="Apply">
        <input class="btn btn-secondary ml-3" type="reset" value="Reset">
      </div>

    </form>

  </div>

</div>