<div class="d-flex flex-sm-row flex-column mt-3 px-sm-5 px-4 font-open-sans">

  <div class="dropdown">
    <button class="btn btn-primary font-poppins dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Choose City
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Erbil</a>
      <a class="dropdown-item" href="#">Duhok</a>
      <a class="dropdown-item" href="#">Slemani</a>
      <a class="dropdown-item" href="#">Zakho</a>
    </div>
  </div>

  <form method="GET" action="/search" class="form-inline ml-sm-3 mt-sm-0 mt-3">
    <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search" name="q">
    <button class="btn btn-outline-primary font-poppins my-2 my-sm-0" type="submit">Search</button>
  </form>

</div>