@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

.filters:hover {
  color: #007bff !important;
  cursor: pointer;
}

.btn,
label,
p {
  font-size: 0.96rem;
}

.btn {
  padding: 0.36rem 0.6rem;
}

.font-poppins {
  font-family: 'Poppins', sans-serif !important;
}

.font-open-sans {
  font-family: 'Open Sans', sans-serif !important;
}

.font-semi-bold {
  font-weight: 600;
}

.font-size-2 {
  font-size: 2rem;
}

#no-product-img {
  width: 80%;
}

@media (min-width: 576px) {
  #no-product-img {
    width: 70%;
  }
}

@media (min-width: 768px) {
  #no-product-img {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  #no-product-img {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .navbar-brand {
    font-size: 1.2rem;
  }
}

@media (max-width: 300px) {
  .navbar-brand {
    font-size: 1.1rem;
  }
}
